.movie-details {
  display: flex;
  flex-flow: column;
}

.md-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 20px;
  padding: 15px 0;

  .mdc-poster {
    padding-right: 20px;
  }

  .mdc-description {
    flex: 1 1 0%;
  }

  .mdc-title,
  .mdc-overview-title,
  .mdc-overview {
    margin-bottom: 10px;
  }
}
