<div class="movies" scrollable (scrollPosition)="scrollHandler($event)">
  <header class="header">
    <a class="logo" (click)="getPopular()">
      Movies
    </a>
    <div class="search">
      <input #searchInput />
      <button (click)="search(searchInput.value)">
        search
      </button>
    </div>
  </header>
  <div class="movies-list">
    <a class="movie-wrp" *ngFor="let movie of movies" routerLink="/details/{{movie.id}}" >
      <movie [movie]="movie"></movie>
    </a>
  </div>
  <loading-spinner *ngIf="isLoading"></loading-spinner>
</div>

